common --announce_rc

build --cxxopt="-std=c++17"
build --cxxopt="-gz" --cxxopt="-gdwarf-4"
build --cxxopt="-Wall" --cxxopt="-Wextra" --cxxopt="-Werror" --cxxopt="-Wno-error=unused-command-line-argument" --cxxopt="-Wno-unused-command-line-argument"
build --cxxopt="-Wno-cast-function-type-mismatch"
build --cxxopt="-Wno-unused-function" --cxxopt="-Wno-unused-parameter" # protobuf require
build --cxxopt="-Wno-deprecated-declarations" # cuda require
build --linkopt="-Wl,--export-dynamic" --linkopt="-Wl,--build-id"
build --linkopt="-flto=thin"
build --compilation_mode=opt --copt=-g --copt=-O3

# Use --config=clang to build with clang instead of gcc and nvcc.
build:clang --repo_env=CC=clang

test --test_output=all
test --cxxopt="-Wno-deprecated-declarations"
